<button  [routerLink]="['/addmedicine']">Add Medicine</button>

<p>medicines works!</p>
<table>
    <thead>
        <tr>
            <th>MedicineId</th>
            <th>MedicineName</th>
            <th>MedicinePrice</th>
            <th>TimeToTake</th>
           
        </tr>
    </thead>

        <tr *ngFor="let d of medicine">
            <td>{{d.medicineId}}</td>
            <td>{{d.medicineName}}</td>
            <td>{{d.medicinePrice}}</td>
            <td>{{d.timeToTake}}</td>
        </tr>

    </table>