<p>add-assistant works!</p>
<div>
<form [formGroup]="assistantFormGroup" style="width: 300px; ">
 <div class="form-group">
    Name:<input type="text" class="form-control" formControlName="assistantName">
</div>
<div class="form-group">
    Mobile No:<input type="text" class="form-control" formControlName="assistantMobileNo"><br>
    </div>
    <div class="form-group">
    Assistant Email:<input type="text" class="form-control" formControlName="assistantEmail"><br>
    </div>
    <div class="form-group">
    Assistant Address<input type="text" class="form-control" formControlName="assistantAddress"><br>
    </div>
    <div class="form-group">
    DepartmentId<input type="number" class="form-control" formControlName="departmentId"><br>
</div>
</form>
<button class="btn btn-primary" type="submit" (click)="add()" [disabled]="!assistantFormGroup.valid">Add Doctor</button>
</div>