<button  [routerLink]="['/addvisit']">Add Visit</button>

<p>visits works!</p>
<!-- <table class="table table-bordered">
    <thead>
        <tr>
            <th>VisitId</th>
            <th>DoctorName</th>
            <th>patientName</th>
            <th>assistantName</th>
           
        </tr>
    </thead>

        <tr *ngFor="let d of visit">
            <td>{{d.visitId}}</td>
        
            <td>{{d.doctorName}}</td>
            <td>{{d.patientName}}</td>
            <td>{{d.assistantName}}</td>
        </tr>

    </table> -->
    <button (click)="getSelectedRows()">Get Selected Rows</button>
 <ag-grid-angular
 #agGrid
 style="width: 800px; height: 500px;"
 class="ag-theme-balham"
 [autoGroupColumnDef]="autoGroupColumnDef"
[rowData]="rowData | async"
[columnDefs]="coloumnDefs"
[animateRows]="true"
[pagination]="true"
 ></ag-grid-angular>