<button  [routerLink]="['/doctors']">Doctors</button>
<button  [routerLink]="['/assistants']">Assitant</button>
<button  [routerLink]="['/patients']">Patient</button>
<button  [routerLink]="['/medicines']">Medicine</button>
<button  [routerLink]="['/visits']">Visits</button>
<p>departments works!</p>

<button  [routerLink]="['/adddepartment']">Add Department</button>

<div>
    <table>
        <thead>
            <tr>
                <th>Department Id</th>
                <th>Department Name</th>
            </tr>
        </thead>

            <tr *ngFor="let d of department">
                <td>{{d.departmentId}}</td>
                <td>{{d.departmentName}}</td>
                <!-- <td><a href="" [routerLink]="['/doctors',d.departmentId]">view</a></td> -->
            </tr>

        </table>
</div>
